body {
  background-color: #093145;
  min-height: 100vh;
}

.game {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: center;
}

.title h1 {
  color: #efd469;
  font-size: 50px;
}

.board {
  display: flex;
  justify-content: center;
}

table {
  background-color: white;
  border: 1px solid black;
  border-collapse: collapse;
}

tr {
  height: 10px;
  border: 1px solid black;
}

td {
  width: 8px;
  border: 1px solid black;
}

.child {
  background-color: indianred;
}

.buttons {
  margin-top: 50px;
  align-self: center;
}

//button {
//  width: 150px;
//  border: 2px solid #efd469;
//  border-radius: 10px;
//  background-color: transparent;
//  color: #efd469;
//  font-weight: 700;
//  margin: 0px 10px 0px 10px;
//}